/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'AdLib';
    src: url('assets/AdLib.ttf');
}

.boxshadowed {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.robototext {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.marginv20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginv10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
